header, footer {
	background-color: white;
}

header  {
	height:885px;
}

.green{
	background-color:#c6ddcd;
	height:885px;
}
.space {
	height:885px;
}
.space .column-left {
	background-color:lightyellow;
}

.space .column-right {
	background-image: url(images/enjoy.jpg);
}
