header, footer {
	background-color: white;
}

header  {
	height:885px;
}

.green	{
	background-color:#c6ddcd;
	height:885px;
}

.space {
	height:855px;
	display:flex;
}

.space .column-left	{
	background-color:lightyellow;
}

.space .column-right img{
	width:100%;
	height:885px;
}



h1 {
	font-size:6.4em;
	font-family: 'Bowlby One SC', cursive;
}

p {
	font-family: 'Teko', sans-serif;
	font-size:4.4em;
	text-align:justify;
}

span.pink-border {
	text-decoration: underline;
	text-decoration-color: pink;
	-moz-text-decoration-color: pink;
}

span.pink-border {
	text-decoration: underline;
	text-decoration-color: pink;
	-moz-text-decoration-color: pink;
}

span.green-border {
	text-decoration: underline;
	text-decoration-color: #C6DDCD;
	-moz-text-decoration-color: #C6DDCD;
}

span.yellow-border {
	text-decoration: underline;
	text-decoration-color: #EAC983;
	-moz-text-decoration-color: #EAC983;
}

